{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4 mb-4">Halaman Beli</h2>
  <div class="row justify-content-center">
    <div class="card w-100">
      <div class="card-header bg-primary text-white">
        <center><strong>Informasi paket yang ingin dibeli</strong></center>
      </div>
      <div class="table-responsive">
        <table class="table w-100">
          <tbody>
            <tr>
              <td><strong>Nama:</strong></td>
              <td>{{paket.nama}}</td>
            </tr>
            <tr>
              <td><strong>Harga:</strong></td>
              <td>Rp{{paket.harga}}</td>
            </tr>
            <tr>
              <td><strong>Resolusi Layar:</strong></td>
              <td>{{paket.resolusi_layar}}</td>
            </tr>
            <tr>
              <td><strong>Dukungan Perangkat:</strong></td>
              <td>{{paket.dukungan_perangkat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="form-group w-100"> 
      <label for="metode-pembayaran">Pilih Metode Pembayaran:</label>
      <select class="form-control w-100" id="metode-pembayaran">
        <option value="Transfer Bank">Transfer Bank</option>
        <option value="Kartu Kredit">Kartu Kredit</option>
        <option value="E-Wallet">E-Wallet</option>
      </select>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" id="bayar-button">Bayar</button>
    </div>
  </div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var beliButton = document.getElementById("bayar-button");

    beliButton.addEventListener("click", async (e) => {
      const namaPaket = "{{paket.nama}}";
      const metodePembayaran = document.getElementById("metode-pembayaran").value;
      let response = await fetch("/langganan/beli/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          nama_paket: namaPaket,
          metode_pembayaran: metodePembayaran,
        }),
      });
      let response_body = await response.json();
      if (response.ok) {
        alert(response_body.message);
        window.location.href = "/langganan/";
      } else {
        alert(response_body.message);
      }
    });
  });
</script>
{% endblock content %}